<%= simple_form_for @record do |f| %>
  <%= f.input :word %>
  <%= f.input :word_inflection %>
  <%= f.association :gram_form %>
  <%= f.association :dialect %>
  <%= f.input :additional_info, as: :text %>
  <%= f.button :submit %>
<% end %>

<% if pending_errors? %>
  <div id="error_explanation">
    <h2><%= t(pending_errors.count==1 ? 'error' : 'errors',scope: :common).capitalize %>:</h2>
    <ul>
      <% pending_errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
