<!DOCTYPE html>
<html>
  <head>
    <title>Targama</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <ul class="nav">
        <li><%= link_to t('nav.logo'), root_url %></li>
        <li><%= link_to t('nav.twords'), twords_path %></li>
        <li><%= link_to t('nav.gram_forms'), gram_forms_path %></li>
        <li><%= link_to t('nav.dialects'), dialects_path %></li>
      </ul>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
